*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
    font-family: sans-serif;

    /* flexbox */
    display: -webkit-flex;
            display: flex;
  
    /* comportamento: em linha com wrap */
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
  
    /* conteúdo justificado no centro */
    -webkit-justify-content: center;
             justify-content:center;
       
}
/* Estilizando o chat */
.chatImage{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.chat{
    width: 90%;
    margin: auto;

}
.msgCara{
    padding: 15px 5px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: white;
    color: rgb(50, 50, 50);
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    }
.msgResposta{
    padding: 15px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: rgb(255, 251, 141);
    color: rgb(50, 50, 50);
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    }
.textOptions{
    font-size: smaller;
    color: rgb(147, 147, 147);
}
.actions{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
/* Estilizando os botões */
.actionOptions{
    background-color: white;
    color: rgb(50, 50, 50);
    padding: 30px 15px;
    margin: -2px;
    border: 1px solid rgb(196, 196, 196);
}
.actionOptions:hover{
    background-color: rgb(255, 251, 141);
}
.trashButton{
    margin: 5px 5px;
    padding: 10px 12px;
    border-radius: 100%;
    background-color: rgba(147, 147, 147, 50);
}
.chatMsgCara{
    text-align: left;
    max-width: 50%;
    box-sizing: border-box;
}
.chatMsgResposta{
    text-align: right;
    max-width: 50%;
    box-sizing: border-box;
}