body {
    background-color: rgb(253, 253, 253);
    color: rgb(59, 59, 59);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

/* h1{
    text-align: center;
    margin: auto;
    margin-top: 250px;
    width: 80%;
    font-weight: 100;
    font-size: 20px;
} */

form {
    padding: 0;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
button{
    margin: -2px;
    background-color: white;
    border: 1px solid lightgray;
    padding: auto;
    vertical-align: middle;
    width: 20%;
    height: 5%;
}
button:active, button:hover{
    background-color: lightslategray;
    color: white;
}
/* form{
    width: 50%;
    text-align: center;
    margin: auto;
} */
h1{
    font-weight: 100;
    margin: auto; 
    margin-top: 300px;
    margin-bottom: 50px;
    width: 80%;
    font-size: x-large;
}
strong{
    font-weight: bold;
}
