@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body{
    background-color: rgb(243, 238, 255);
    padding: 50px;
    font-family: 'Comfortaa', cursive;
}
h1{
    color: rgb(37, 37, 37);
    font-family: 'Reggae One', cursive;
}

h2 {
    color: gray;
}

div.card-resume {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}

p.card-resume-title{
    color: gray;

}
p.card-resume-value{
    font-size: 50px;
    font-weight: 600;
    margin: 0px;
}
p.card-resume-percentage{
    text-align: center;
    font-weight: bold;   
}
.font-blue{
    color: rgb(70, 70, 255);
}
.font-red{
color: red;
}
.card-commentary{
    background-color: white;
    padding: 40px;
    display: inline-block;
    width: 500px;
    border-radius: 20px;
    margin-left: 20px;
    line-height: 2;
}

.card-commentary.contrast{
    background-color: rgb(70, 70, 255);
    color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
section{
    margin-left: 20px;
    margin-top: 60px;
}